# Fill these in with the right values and copy to .env within the git checkout
DOMAIN=
EMAIL=
SUBDOMAINS=
USERNAME=
PASSWORD=
OPENVPN_USER=
OPENVPN_PASSWORD=
DATA_DIR=
CONFIG_DIR=
HTTP_PROXY=
ALL_PROXY=
